<nav class="navbar navbar-expand-md sticky-top bg-dark">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            
            <form class="form-inline" action="/search" method="POST">
    <input class="form-control mr-sm-2" type="text" placeholder="Search"  id= "search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>

            <li class="nav-item">
                <a class="nav-link" href="/logout"><span style="color: white;">logout</span></a>
            </li>
            
        </ul>
    </div>
</nav>